{
    "api.version": "v1",
    "sources": [
      {
         "automaticDateParsing":true,
         "multilineProcessingEnabled":true,
         "useAutolineMatching":true,
         "forceTimeZone":false,
         "filters":[],
         "cutoffTimestamp":0,
         "encoding":"UTF-8",
         "blacklist":[],
         "description": "{{sumo_collector_description}}",
         "timeZone": "America/New_York",
         "sourceType": "LocalFile",
         "name": "{{sumo_source_name}}",
         "pathExpression": "{{sumo_source_folder}}",
         "category": "{{sumo_category_name}}"
      }
    ]
}